body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #FFFFFF;
  margin-bottom: 5rem; }
  .heading-primary--main {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 6.4rem;
    display: inline-block; }
    @media only screen and (max-width: 450px) {
      .heading-primary--main {
        font-size: 5rem; } }

.heading-tertiary--main {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem; }

.heading-tertiary--sub {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.2;
  display: inline-block;
  color: #464646; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background: linear-gradient(to right, #642b73, #c6426e);
  padding: 5rem 10rem; }
  @media only screen and (max-width: 1500px) {
    body {
      padding: 5rem; } }
  @media only screen and (max-width: 1200px) {
    body {
      padding: 0; } }

.main-container {
  margin: 0 auto;
  background-color: #37003B;
  box-shadow: 0px 3px 50px 1px rgba(0, 0, 0, 0.45);
  min-height: 50rem; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #FF005B;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 12rem;
  right: 20rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 1600px) {
    .navigation__button {
      top: 8rem;
      right: 10rem; } }
  @media only screen and (max-width: 1200px) {
    .navigation__button {
      top: 6rem;
      right: 8rem; } }
  @media only screen and (max-width: 500px) {
    .navigation__button {
      top: 3rem;
      right: 6rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 12rem;
  right: 20.3rem;
  background-image: radial-gradient(#FF005B, #37003B);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 1600px) {
    .navigation__background {
      top: 8rem;
      right: 10.5rem; } }
  @media only screen and (max-width: 1200px) {
    .navigation__background {
      top: 6rem;
      right: 8.5rem; } }
  @media only screen and (max-width: 500px) {
    .navigation__background {
      top: 3rem;
      right: 6.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: -30%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFFFF 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #FF005B;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #FFFFFF;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 80rem;
  position: relative; }
  .header__logo {
    position: relative; }
  .header__text-box {
    position: absolute;
    top: 45rem;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 28rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.5; }
    .header__text-box--main {
      color: #FF005B;
      display: block;
      animation: fadeIn 1.5s;
      animation-fill-mode: both;
      animation-delay: .9s; }
    @media only screen and (max-width: 450px) {
      .header__text-box {
        font-size: 1.6rem;
        top: 40rem; } }

.logo-img {
  position: absolute;
  top: 35rem;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 1200px) {
    .logo-img {
      width: 45rem; } }
  @media only screen and (max-width: 450px) {
    .logo-img {
      width: 25rem; } }

.arrow-container {
  margin-top: 18rem;
  display: inline-block; }
  @media only screen and (max-width: 500px) {
    .arrow-container {
      margin-top: 15rem; } }
  .arrow-container:hover .arrow-logo {
    transition: all .2s ease-in-out; }
    .arrow-container:hover .arrow-logo--1 {
      transform: translateY(-1.4rem); }
    .arrow-container:hover .arrow-logo--3 {
      transform: translateY(1.4rem); }

.arrow-logo {
  transition: all .2s ease-out;
  width: 4rem;
  color: #FFFFFF;
  display: block;
  margin: 0 auto; }
  .arrow-logo:not(:last-child) {
    margin-bottom: -2.7rem; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.section-features {
  padding: 15rem 0;
  background-color: #C4C4C4; }

.section-contact {
  padding: 15rem 0;
  background-color: #37003B; }

.contact-form {
  text-align: center; }

.feature-box-container {
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 800px) {
    .feature-box-container {
      align-items: center;
      justify-content: center;
      flex-direction: column; } }

.feature-box {
  text-align: center;
  width: 25rem; }
  .feature-box__logo {
    width: 7rem;
    margin-bottom: 1.5rem; }
  @media only screen and (max-width: 800px) {
    .feature-box:not(:last-child) {
      margin-bottom: 5rem; } }

.form {
  display: inline-block; }
  .form__container {
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 800px) {
      .form__container {
        flex-direction: column; } }
  .form__group:not(:last-child) {
    margin-right: 1.6rem; }
    @media only screen and (max-width: 800px) {
      .form__group:not(:last-child) {
        margin-right: 0; } }
  .form__textarea {
    background-color: #C4C4C4;
    border: none;
    font-size: 1.8rem;
    line-height: 1.7;
    resize: none;
    width: 71rem;
    height: 10rem;
    margin-top: 2rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 800px) {
      .form__textarea {
        width: 35rem; } }
    @media only screen and (max-width: 400px) {
      .form__textarea {
        width: 28rem; } }
  .form__input {
    background-color: #C4C4C4;
    border: none;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    transition: all .3s;
    width: 31.7rem; }
    @media only screen and (max-width: 400px) {
      .form__input {
        width: 25rem; } }
  .form__label {
    display: block;
    text-align: left;
    margin-left: 1.5rem;
    transition: all .3s;
    color: #FFFFFF; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__submit {
    text-align: left; }
  .form__btn {
    padding: 1.5rem 5rem;
    border: none;
    background-color: #FF005B;
    color: #FFFFFF;
    font-size: 1.8rem; }

.footer {
  padding: 10rem 0;
  background-color: #1D001F;
  text-align: center; }
  .footer__container {
    display: flex;
    flex-direction: column; }
  .footer__logo {
    margin: 0 auto;
    width: 12rem;
    margin-bottom: 1rem; }
  .footer__text-box {
    color: #FF005B;
    font-size: 2rem;
    line-height: 1.5; }

.social-container {
  margin: 0 auto;
  margin-bottom: 1rem; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; }
