.section-features {
    padding: 15rem 0;
    background-color: #C4C4C4;
}


.section-contact {
    padding: 15rem 0;
    background-color: $color-secondary;

    

    
}
.contact-form {
    text-align: center;

    
}