// COLORS

$color-primary: #FF005B;
$color-secondary: #37003B;

$color-white: #FFFFFF;
$color-black: #000000;

$color-dark-1: #1D001F;

$color-grey-1: #464646;
$color-grey-2: #616161;
$color-grey-3: #C4C4C4;

// Fonts

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
